.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 16px;
    height: 205px;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    height: 205px;
    justify-content: space-between;
}

.main h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.main h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.main p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.main a {
    text-decoration: underline;
}

.main a:hover {
    color: blue;
}

.divider {
    width: 5px;
    height: 256px;
    background: #000;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title {
    text-align: center;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

@media (max-width: 600px) {
    .right {
        margin-left: 0px;
        margin-top: 16px;
    }

    .left {
        margin-right: 0px;
        margin-bottom: 16px;
    }

    .grid {
        width: 100%;
        flex-direction: column;
    }

    .divider {
        height: 5px;
        width: 90%;
    }
}
